.open{
    transform: translateX(0px)
}

.sideBar{
    right: 0;
    width: 90%;
    max-width: 400px;
    transform: translateX(420px)
}

@media(min-width: 1280px){
    .close{
        transform: translateX(560px)
    }

    .sideBar{
        transform: translateX(560px);
        max-width: 540px;
    }
}