.sideBar{
    width: 90%;
    max-width: 400px;
    z-index: 100;
    position: fixed;
    height: 100vh;
    background :#fff;
    top: 0;
    transition: all ease 300ms;
    right: -420px;
}

.open{
    right: 0px;
}